.background {
  width: 100%;
  height: 100%;
}

:global(.dark-theme) .background {
  --grid-line-color-small: rgba(255, 255, 255, 0.08);
  --grid-line-color-large: rgba(255, 255, 255, 0.12);
}

:global(.light-theme) .background {
  --grid-line-color-small: #e5e5e5;
  --grid-line-color-large: #dddddd;
}
