.header {
  background-color: var(--background-tertiary);
  height: 4rem;
  display: flex;
  align-items: center;
  padding: 0 1.6rem;
  justify-content: space-between;
}

.menuBar {
  display: flex;
  gap: 1.6rem;
}
