.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1;
  padding: 2rem;
}

.title {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  color: var(--text-primary);
}

.message {
  font-size: 1.6rem;
  color: var(--text-tertiary);
  margin-bottom: 3rem;
}
