.tooltipTrigger {
  display: inline-block;
}

.tooltip {
  background-color: var(--background-quaternary);
  color: var(--text-primary);
  padding: 0.8rem 1.2rem;
  border-radius: 0.6rem;
  font-size: 0.8rem;
  font-weight: 500;
  word-wrap: break-word;
  box-shadow: 0 0.4rem 0.6rem rgba(0, 0, 0, 0.1), 0 0.2rem 0.4rem rgba(0, 0, 0, 0.06);
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  pointer-events: none;
  text-align: center;
}

.tooltipVisible {
  opacity: 1;
  visibility: visible;
}

.tooltipHidden {
  opacity: 0;
  visibility: hidden;
}

.arrow {
  position: absolute;
  width: 0;
  height: 0;
}
