.toggleContainer {
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-right: 0.8rem;
}

.themeLabel {
  color: var(--text-secondary);
  font-size: 1.3rem;
  margin-right: 0.8rem;
}

.themeSelect {
  background-color: var(--background-quaternary);
  color: var(--text-primary);
  border: 0.1rem solid var(--border-secondary);
  padding: 0.4rem 0.8rem;
  border-radius: 0.2rem;
  font-size: 1.2rem;
  height: 2.8rem;
  min-width: 8rem;
  cursor: pointer;
  outline: none;
}

.themeSelect:focus {
  border-color: var(--accent-primary);
}

.themeOption {
  background-color: var(--background-tertiary);
  color: var(--text-primary);
  padding: 0.8rem;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 4rem;
  height: 2rem;
  cursor: pointer;
}

.toggleInput {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggleSlider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--background-quaternary);
  border-radius: 2rem;
  transition: 0.3s;
}

.toggleSlider:before {
  position: absolute;
  content: "";
  height: 1.6rem;
  width: 1.6rem;
  left: 0.2rem;
  bottom: 0.2rem;
  background-color: var(--text-primary);
  border-radius: 50%;
  transition: 0.3s;
}

.toggleInput:checked + .toggleSlider {
  background-color: var(--accent-primary);
}

.toggleInput:checked + .toggleSlider:before {
  transform: translateX(2rem);
}

.toggleLabel {
  margin-right: 0.8rem;
  font-size: 1.3rem;
  color: var(--text-secondary);
}
