*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
}

.btn-add {
  position: absolute;
  z-index: 10;
  top: 10px;
  left: 10px;
}
