.nodePill {
  position: relative;
  width: 9rem;
  height: 3rem;
  background-color: var(--geometry-node-background);
  border-radius: 0.6rem;
  box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.2), 0 0.1rem 0.2rem rgba(0, 0, 0, 0.1);
  transition: border-color 0.2s ease;
}

.nodePill:hover,
.nodeHovered {
  border-color: var(--geometry-node-border-hover);
}

.nodeSelected {
  box-shadow: 0 0 0 0.2rem var(--accent-primary);
}

.nodeLabel {
  position: absolute;
  left: 9.4rem;
  top: 0;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-weight: 400;
  font-size: 1.1rem;
  color: var(--text-primary);
  white-space: nowrap;
  overflow: visible;
  text-overflow: ellipsis;
  max-width: 10rem;
  z-index: 15;
}

.disabled {
  opacity: 0.65;
}
